.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.1em;
    margin-top: 2rem;
    background-color: rgb(31, 31, 31);
    border-radius: 10px;
}

.item {
    display: flex;
    flex-direction: column;
    width: 550px;
    max-width: 50vw;
    padding: 1em;
    margin: 1em;
    color: black;
    border-radius: 10px;
    background-color: rgb(218, 218, 218);
}